* {
	font-family: 'Open Sans', sans-serif;
	box-sizing: border-box;
}

.content{
	font-size: 0;
	width: 60%;
	margin: 2% 0 0 20%;
	display: inline-block;
	

}

.leftContent {
	width: 25%;
	margin-right: 40px;
	margin-top: 2%;
	display: inline-block;
	vertical-align: top;
	font-size: medium;
	
}

.leftContent{
	h6 {
		border-top: 1px solid #aaa;
		font-size: 14px;
		padding-top: 10%;
		color: #aaa;
	}
}

.leftContent{
	h2 {
		font-size: 14px;
		font-weight: bold;
	}
}

.leftContent{
	p {
		font-size: 12px;
		margin-top: 25px;
		margin-bottom: -20px;
		color: #aaa;
	}
}

.leftContent{
	input {
		border: 1px solid #aaa;
  		height: 25px;
  		width: 100%;
  		margin-bottom: 30%;
	}
}

.leftContent input[type="text"]{
  font-size: 12px;
  color: #aaa;
  font-weight: 300;
  padding: 3%;
  height: 25px;
}

.centerContent {
	width: 65%;
	display: inline-block;
	font-size: medium;
	vertical-align: top;
	
}

.centerContent{
	img {
		width: 90%;
	}
}

#fixedColImg {
	width: 10%;
	display: inline;
	border-radius: 10%;
	margin-top: 2%;
	margin-left: 10px;
	vertical-align: bottom;


}

.fixedContent{
	position:relative;
}

#alignfixed {
  position: fixed;
  right: 15px;
  bottom: 45px;
  font-size: 10px;
  width: 20%;
  height: 12vh;
  border: 1px solid #aaa;
  background: #fff;
  border-radius: 5px;

}

#alignfixed > p {
	display: inline-block;
	font-weight: bolder;
	padding: 2%;
	color: #6E9ABD
}

#alignChildren{
	border-top: 1px solid #aaa;
	display: inline-block;
	padding: 1%;
	
}

#alignChildren > * {
	display: inline-block;
}

#right{
	float: right;
	margin-right: 60%;
	margin-top: 2%;
}

#follow{
	float: right;
	margin-top: -22px;
	margin-right: 15px;
	vertical-align: bottom;
	background: #6E9ABD;
	color: #fff;
	border-radius: 10%;
}

#under{
	margin-left: 50px;
	margin-top: -8px;
	vertical-align: bottom;
}

.pageheader{
  position: relative;
  display: block;
}

.pageheader {
  	img {
  		max-width: 100%;
  		display: block;
  	}
}

#logo {
	img {
      border: 4px solid white;
      width: 7%;
      border-radius: 50%;
      position: absolute;
      bottom: -40px;
      left: 15%;    
	}
}